<html>

<head>
  <link rel='stylesheet' href='/stylesheets/battle.css' />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <meta charset="utf-8">
  <title>Trainer</title>
</head>

<body>
  <div id="container">
    <div id="header">
      <div class="navbar-fixed">
        <nav class="fafafa grey lighten-5">
          <div class="container" id="nav">
            <div class="nav-wrapper">
              <a href="" class="logo">
                    <img src="/images/pokemon-logo.png" alt="1">
                </a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/pokemon">POKEMON</a></li>
                <li><a href="/trainers">TRAINERS</a></li>
                <li><a href="/gym">GYM</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  <div id="section">
 <div id="inside" href= "">
    <h2>BATTLE</h2>
    <h3>Pokemon 1: </h3>
    <h3>Pokemon 2: </h3>
    <button type="button" name="button">BATTLE</button>
    <h3> Winner: </h3>
    <button type="button" name="button">RESET GYM</button>
</div>


  </div>
</body>

</html>
