<html>

<head>
  <link rel='stylesheet' href='/stylesheets/trainerprofile.css' />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <meta charset="utf-8">
  <title>Trainer</title>
</head>

<body>
  <div id="container">
    <div id="header">
      <div class="navbar-fixed">
        <nav class="fafafa grey lighten-5">
          <div class="container" id="nav">
            <div class="nav-wrapper">
              <a href="" class="logo">
                    <img src="/images/pokemon-logo.png" alt="1">
                </a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/pokemon">POKEMON</a></li>
                <li><a href="/trainers">TRAINERS</a></li>
                <li><a href="/gym">GYM</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  <div id="section">
 <div id="inside" href= "">
   <% for(let i = 0; i<trainer.length; i++){ %>
     <h2> <%=trainer[i].name%></a> </h2>
<% } %>
 <h3> Currently training:</h3>
</div>

  </div>
</body>

</html>
