html, body {
  background-image: url('/images/ball_background_opaque.png');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}

.logo {
  display: inline-block;
  height: 100%;
}

img {
  /*vertical-align: middle*/
  width: 70%;
  height: 70%;
  padding-top: 10px;
}

#container {
  height: 100%;
  position: relative;
}

#header {}

a {
  color: black !important;
}

#section {
  margin: auto !important;
  width: 60% !important;
  background-color: white !important;
  opacity: 0.65 !important;
  height: 60%;
}

#inside {
  margin-top: 17%;
}

h2 {
  text-align: center;
}

h3 {
  margin-left: 10% !important;
}

button {
  margin-top: 5% !important;
  margin-left: 47% !important;
}
select {
  font-size: 30px !important;
  margin: 20%;
  display: initial !important;
}
