html, body {
  background-image: url('/images/ball_background_opaque.png');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}

.logo {
  display: inline-block;
  height: 100%;
}

img {
  /*vertical-align: middle*/
  width: 70%;
  height: 70%;
  padding-top: 10px;
}

#container {
  height: 100%;
  position: relative;
}

#header {}

a {
  color: black !important;
}

#section {
  margin: auto !important;
  width: 60% !important;
  background-color: white !important;
  opacity: 0.7 !important;
  height: 45%;
}

#inside {
  margin-top: 20%;
  text-align: center !important;
}

h2 {
    padding-top: 17px !important;
}
